.on-off {
  display: flex;
  justify-content: flex-start;
}

.on-off span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
}

.circle {
  border-radius: 50%;
}
